@import url('https://fonts.cdnfonts.com/css/jetbrains-mono-2');

:root {
    --font-family: "JetBrains Mono", monospace;
    --line-height: 1.20rem;
    --border-thickness: 2px;
    --text-color: #fff;
    --text-color-alt: #666;
    --background-color: #000;
    --background-color-alt: #eee;
  
    --font-weight-normal: 500;
    --font-weight-medium: 600;
    --font-weight-bold: 800;
  
    font-family: var(--font-family);
    font-optical-sizing: auto;
    font-weight: var(--font-weight-normal);
    font-style: normal;
    font-variant-numeric: tabular-nums lining-nums;
    font-size: 16px;
}

html {
    height: 100%;
}

body {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    background: var(--background-color);
    color: var(--text-color);
}

/* HEADER STYLES */
header h1, p, a, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;

    font-family: 'JetBrains Mono', monospace;
}

header {
    width: 100%;
    display: block;
    background-color: black;

    margin-top: 10px;
    margin-bottom: 10px;
}

header table.header {
    width: 60%;
    margin-left: auto;
    margin-right: auto;

    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid white;
}
  
header table.header th,
header table.header td {
    border: 2px solid white;
    padding: 10px;
}
header table.header td.main-header {
    padding: 15px;
    padding-top: 10px;
}
  
.title {
    font-size: 32px;
    margin-bottom: 5px;
}
  
.subtitle {
    font-size: 20px;
}
  
nav#navbar ul {
    list-style: none;
    text-align: center;
}
  
nav#navbar ul li {
    display: inline;
    margin-left: 20px;
    margin-right: 20px;

    text-align: center;
}
  
nav#navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
  
nav#navbar ul li a:hover {
    text-decoration: underline;
}

/* BODY STYLES */

main {
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;

    height: 90%;

    justify-content: space-around;
}

.quals-container {
    display: flex;
    flex-direction: horizontal;

    width: 100%;
    height: 100%;
}

.resume-container, .tree {
    flex: 1; /* Each takes half of the available space */
    display: flex;
    justify-content: center; /* Center content horizontally */
}

.resume-container {
    height: 100%;
}

.resume-frame {
    width: 100%; /* Ensures the iframe uses all available space */
    height: 100%; /* Matches the height to the container */
    border: none;
}

.welcomeSection h1 {
    font-size: 2.5em;

    text-align: center;
}

.welcomeSection p {
    font-size: 1.3em;

    margin-top: 20px;
    margin-bottom: 20px;

    text-align: center;
    line-height: 1.5;

    word-break: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.linksSection {
    text-align: center;

    margin-top: 50px;
    margin-bottom: 30px;
}

.linkImage {
    width: 100px;
    height: 100px;

    padding: 10px;
}

/* TREE STYLES */
.tree, .tree ul {
    width: 50%;

    position: relative;
    padding-left: 0;
    list-style-type: none;
    line-height: var(--line-height);
}
.tree ul {
    margin: 0;
}
.tree ul li {
    position: relative;
    padding-left: 1.5ch;
    margin-left: 1.5ch;
    border-left: var(--border-thickness) solid var(--text-color);
}
.tree ul li:before {
    position: absolute;
    display: block;
    top: calc(var(--line-height) / 2);
    left: 0;
    content: "";
    width: 1ch;
    border-bottom: var(--border-thickness) solid var(--text-color);
}
.tree ul li:last-child {
    border-left: none;
}
.tree ul li:last-child:after {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    content: "";
    height: calc(var(--line-height) / 2);
    border-left: var(--border-thickness) solid var(--text-color);
}



